In [30]:
import os
import json
import pandas as pd

In [26]:
# Aggregated_Transaction
path1="E:/GUVI/Capstone Project/PhonePe/pulse/data/aggregated/transaction/country/india/state/"
Agg_tran_List=os.listdir(path1)


columns1={"States":[],"Years":[],"Quarter":[],"Transaction_Type":[],"Transaction_Count":[],"Transaction_Amount":[]}
# Using file path get additional path and store into the Varible as file
for state in Agg_tran_List:
    current_state=path1+state+"/"
    Aggre_year_List=os.listdir(current_state)
    
    for year in Aggre_year_List:
        current_Year=current_state+year+"/"
        Aggregated_File_List=os.listdir(current_Year)
        

        for file in Aggregated_File_List:
            current_File=current_Year+file
            data = open(current_File,"r")

            Aggregated_data=json.load(data)

            for i in Aggregated_data["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transaction_Type"].append(name)
                columns1["Transaction_Count"].append(count)
                columns1["Transaction_Amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

In [33]:
Aggregated_Transaction=pd.DataFrame(columns1)

In [34]:
Aggregated_Transaction

,States,Years,Quarter,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,west-bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,west-bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,west-bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,west-bengal,2023,4,Financial Services,480740,4.590073e+08
4313,west-bengal,2023,4,Others,524477,4.041567e+08